[user]
	name = Daniel Smith
	email = jellymann@gmail.com
[core]
	editor = vim
	excludesfile = /Users/daniel/.gitignore_global
[merge]
	tool = opendiff
[color]
	ui = auto
[push]
	default = simple
[alias]
	logp = log --color --pretty=format:'%Cred%H%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lgp = log --color --graph --pretty=format:'%Cred%H%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lp = log --color --pretty=format:'%Cred%H%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
